table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#calendar {
  width: 70%;
}

#calendar th{
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
  margin: 0px;
}

#hacks tr:nth-child(even) {
  background-color: #dddddd;
}

#hacks {
  margin-top:50px;
  width:50%;
}